@import '../_mixins.scss';

.app__wrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.appHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

.content__wrapper {
	background-color: var(--bg-2);
	padding: 2rem;
	border-radius: 12px;

	@include smallDeviceSize {
		padding: 1.5rem;
	}
}

.emptyText {
	// display: inline-block;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--black-2);
	text-align: center;
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	background-color: var(--gray-2);
	width: max-content;
	height: auto;
}


.searchContainer {
	position: relative;
	width: 120px;
	/* set initial width */
	transition: width 0.3s ease-in-out;
	/* add transition effect */
}

.searchContainer:hover {
	width: 300px;
	/* expand on hover */
}

.searchContainer input[type="text"] {
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	width: 100%;
	box-sizing: border-box;
	background-color: whitesmoke;
	border: 1px solid gray;
}

.searchContainer input[type="text"]:focus {
	outline: none;
	box-shadow: 0 0 5px white;
}

.searchIcon {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 18px;
	color: white;
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 20px 20px;
  }
  
  .header__title {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
	text-align: center;
	text-shadow: 2px 2px #eaeaea;
  }
  
  .header__button {
	background-color: #59aaf5;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	text-shadow: 1px 1px #3d3d3d;
  }
  
  .header__button:hover {
	background-color: #2e86de;
  }
  .header select{
	width: 100%;
  }

  .btnDelete{
	width: 100%;
}
  